/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*body*/
body{
    background-color: #3d585c;
}
/*body*/

/*Wrapper*/
.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
}
/*End Wrapper*/

/*Header*/
header{
    width: 100%
}
header #logo{
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
}
header nav{
    float: right;
    margin-top: 27px;
    margin-bottom: 20px;
}
header form{
    margin-top: 10px;
    margin-left: 28px;
}
header li{
    display: inline;
}
header a{
    text-decoration: none;
    color: #ffffff;
    font-family: "times new roman";
    font-size: 16px;
    margin: 0px 2px;
}
header span{
    color: #fff;
}
/*End Header*/

/*Menu*/
#menu{
    background-color: #292929;
    max-width: 1100px;
    width: 100%;
    margin: 0px auto; 
    float: left;
    text-align: center;
    height: 50px;
}
#menu li{
    display: inline;
}
#menu a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 15px 0px;
    margin-left: 30px;
    float: left;
}
/*End Menu*/

/*Banner*/
#banner img{
    max-width: 1100px;
    max-height: 452px;
    width: 100%;
    margin: 0px auto;
    float: left;
}
/*End Banner*/

/*Content*/
.kotak{
    background-color: #fff;
    width: 1100px;
    height: 200px;
    margin-top: -7px;
}
#content .content-overlay{
    float: left;
    width: 30%
    text-align: center;
    margin: 30px 30px 0px;
    background-color: #fff;
}
.content-overlay h2{
    text-align: center;
    color: #660000;
}
#kotak1{
    background-color: #e2e2e2;
    width: 1100px;
    height: 15px;
}
/*End Content*/

/*Other Content*/
#kotak2{
    background-color: #fff;
    width: 1100px;
    height: 450px;
}
.wrapper2{
    max-width: 200px;
    width: 100%;
    float: left;
    margin: 0px 30px;
}
.wrapper3{
    max-width: 589px;
    width: 100%;
    float: left;
}
.wrapper4{
    max-width: 200px;
    width: 100%;
    float: left;
}
.Other-Content{
    margin-top: 20px;
    color: #666666;
}
.Other-Content img{
    margin-top: 15px;
}
#colom{
    margin-top: 10px;
}
#colom img{
    float: left;
    margin-right: 20px;
}
#colom h4{
    margin-top: 30px;
    color: #660000;
}
#colom p{
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #666666;
}
#note{
    color: #660000;
    text-align: center;
    margin-top: 50px;
}
#box3 #colom3{
    margin-right: 5px;
    margin-top: 20px;
    color: #666666;
}
#box3 #colom3 img{
    margin-top: 15px;
}
#box3 #colom3 p{
    margin-top: 20px;
    color: #666666;
}
/*End Other Content*/

/*Footer*/
#footer{
    height: 70px;
    background-color: #e2e2e2;
    border-top: 3px solid #d6d6d6;
}
#footer h1{
    color: #666666;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    font-family: "times new roman";
}
#kotak-kotak{
    height: 220px;
    background-color: #e2e2e2;
    border-top: 2px solid #d6d6d6;
}
#wrapper5{
    max-width: 260px;
    width: 100%;
    float: left;
}
#wrapper6{
    max-width: 260px;
    width: 100%;
    float: left;
}
#wrapper7{
    max-width: 260px;
    width: 100%;
    float: left;
}
#wrapper8{
    max-width: 260px;
    width: 100%;
    float: left;
}
.kaki li{
    display: block;
    margin-left: 30px;
    color: #660000;
}
#tambah{
    height: 50px;
    background-color: black;
    margin-bottom: 30px;
}
#tambah #copy{
    color: #666666;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 12px;
}
#tambah #temp{
    color: #666666;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 12px;
}
/*End Footer*/
